.body {
  display: flex;
}

.question-container,
.question-table-container {
  padding: 1% 3%;
}

.question-container {
  flex: 2;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
}

.question-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
}

.question-table-container {
  flex: 1;
}

.questions-id {
}

.option{
    padding: 1% 3%;
}

.question-buttons{
    display: flex;
    justify-content: space-around;
}